<!--The content below is only a placeholder and can be replaced.-->
<div class="container pt-2">
  <div class="panel">
      <nav class="panel-nav">
          <div class="tab-bar-container columns col-gapless">
              <ul class="tab tab-block column">
                <li *ngFor="let tab of tabs; index as i" class="tab-item"
                    [ngStyle]="{'max-width.px': maxWidth,'min-width.px': minWidth}"
                    [ngClass]="{'active' : i == activeTab }">
                  <a href="#" (click)="selectTab(i)">
                      <i class="material-icons">face</i>
                      {{ tab }}
                      <span class="btn btn-clear" (click)="removeTab(i)"></span>
                  </a>
                </li>
              </ul>
              <div class="column col-auto">
                  <div class="dropdown more-tabs-dropdown">
                      <button class="btn btn-action btn-more dropdown-toggle">&#x22EE;</button>
                      <ul class="menu">
                          <li *ngFor="let tab of tabs; index as i" class="menu-item">
                              <a href='#' (click)="selectTab(i)">{{tab}}</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </nav>
      <div class="panel-body">
          <h1>Tab Exploration Machine</h1>
          <div class="columns">
              <div class="column col-3 col-xs-12 col-mx-auto">
                  <form class="container">
                      <h2>Parameters</h2>
                      <div class="form-group">
                          <label class="form-label" for="maxWidth">Max-width</label>
                          <input class="form-input" type="number" name="maxWidth" [(ngModel)]="maxWidth"/>
                      </div>
                      <div class="form-group">
                          <label class="form-label" for="minWidth">Min-width</label>
                          <input class="form-input" type="number" name="minWidth" [(ngModel)]="minWidth"/>
                      </div>
                  </form>
              </div>
              <div class="divider-vert"></div>
              <div class="column col-3 col-xs-12 col-mx-auto">
                  <form class="container">
                      <h2>Add Tabs</h2>
                      <div class="form-group">
                          <label class="form-label" for="newTab">&nbsp;</label>
                          <input #newTab class="form-input" newTab.value=''/>
                      </div>
                      <button (click)="addTab(newTab.value)">Add</button>
                  </form>
              </div>
          </div>
      </div>
  </div>

</div>
<router-outlet></router-outlet>
