body {
    background: rgba(240, 240, 240, 1);
}
.tab-bar-container {
    background-color: #e4e4e4;
}
.panel-body {
    background-color: #FFFFFF;
    padding-top: 40px;
    padding-bottom: 200px;
    h1 {
        font-size: 1rem;
        margin-bottom: 2rem;
    }
}
.tab {
    background-color: transparent;
    color: #333333;
    flex-wrap: nowrap;
    &.column {
        overflow-x: auto;
        margin: 0;
    }
    .tab-item {
        border-right: solid 2px #d7d7d7;
        position:relative;
        text-align: left;
        &.active {
            background-color: #f2f2f2;
            a {
                color: #333333;
                border-bottom: none;
            }
        }
        a {
            //direction: rtl;
            overflow: hidden;
            padding: .4rem .4rem .3rem .4rem;
            text-decoration: none;

            transition: all 400ms ease-out;
            white-space: nowrap;
            .material-icons {
                font-size: 16px;
                overflow-x: auto;
                position: relative;
                top: -4px;
            }
            .tab-name {
                display: inline-block;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                width: 100%;
            }
            .btn.btn-clear {
                opacity: 0;
                position: absolute;
                right: 4px;
                top: 40%;
                transition: opacity 400ms ease-out;
            }
            &:hover {
                background-color: #f2f2f2;
                color: #333333;
                .btn.btn-clear {
                    opacity: .6;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
.dropdown.more-tabs-dropdown {
    height: 100%;
    .menu {
        left: auto;
        right: 0;
    }
}
.btn-more {
    background-color: #d7d7d7;
    border: none;
    border-radius: 0;
    color: #000000;
    font-weight: 900;
    font-size: 1.6rem;
    height: 100%;
}
.customized-scrollbar::-webkit-scrollbar {
  height: 6px;
  background-color: transparent;
  border-radius: 2px;
  position: absolute;
  top: -2px
}

/* Add a thumb */
.customized-scrollbar::-webkit-scrollbar-thumb {
    background: #bcbcbc;
}
